#HomePage {
    display: flex;
    align-items: center;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 60vh;
    margin-top: 1rem;
  
    
}

.body > input {
    width: 15rem;
    
}
.body > h1, h3 {
    color: white;
    margin: 0.5rem;
}

.body > Button {
    width: 15rem;
    
}





